body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px 0px 50px 50px;
    background-color: white;
}


* {     box-sizing: border-box;    
        margin: 0;    
         
    }

.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 15% 85%;
    align-content: center;
    background: none;
    border: none;
}

.sidenav {
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin-top: 4em;
    text-transform: uppercase;
    min-width: 800px;
    
}


.sidenav:hover {
    color: blueviolet; 

}


a {
    color: inherit; 
    text-decoration: inherit; /* no underline */
  }

.main {
    margin-top: 3.5em;
    margin-bottom: .75em;
    line-height: 110%;
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 96px;
    text-align: center;  

}

.liveCoordinates {

    color: blueviolet;
    font-weight: 100;
    font-size: 96px;
    font-family: sans-serif;
    text-align: center;
 
  }


.coordinates {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 2em;
    color: blueviolet;
    
}

.placeholder {
    visibility: hidden;
}

/* element.style {
    display: flex;
} */

.landing-content {
    background-color: white;
    padding-top: 4em;
    padding-left: 4em;
}


.event-title {
    /* text-indent: 50px; */
    /* font-style: ; */
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 96px;
    line-height: 1.1; 
    padding-left: 450px;
    margin-right: 2em;
    margin-bottom: 3em;
    font-variant-ligatures: normal;
    font-style: italic;
}


.event-1 {
    background-color: white;
    padding-top: 4em;
    padding-left: 4em;

    
}

.event-image-1 {
    font-size: 12px;
    max-width:500 ;
    font-family: sans-serif;
    
}

.event-1-body {
    display:flex;
    flex-flow: row;
    justify-content: flex-start;
    padding-bottom: 10em;
    
}

.event-details-1 {
width: 450px;
font-family:sans-serif; 
min-width: 200px;
line-height: 1.4;
/* text-transform: uppercase; */

}

.event-description-1 {
    /* margin-left: ; */
    margin-right: 5em;
    font-family: sans-serif;
        font-weight: 400;
        font-size: 17px;
    width: 35em;
    line-height: 1.6;

}

.event-2 {
    background-color: white;
    padding-top: 4em;
    padding-left: 4em;

    
}

.event-image-2 {
    font-size: 12px;
    max-width:500 ;
    font-family: sans-serif;
    
}

.event-2-body {
    display:flex;
    flex-flow: row;
    justify-content: flex-start;
    padding-bottom: 10em;
    
}

.event-details-2 {
width: 450px;
line-height: 1.4;
/* text-transform: uppercase; */
}

.event-description-2 {
    /* margin-left: ; */
    margin-right: 5em;
    font-family: sans-serif;
        font-weight: 400;
        font-size: 17px;
    width: 35em;
    line-height: 1.6;
}

.event-3 {
    background-color: white;
    padding-top: 4em;
    padding-left: 4em;
}

.event-image-3 {
    font-size: 12px;
    max-width:500 ;
    font-family: sans-serif;
}

.event-3-body {
    display:flex;
    flex-flow: row;
    justify-content: flex-start;
    padding-bottom: 10em;
}

.event-details-3 {
width: 450px;
line-height: 1.4;
/* text-transform: uppercase; */
}

.event-description-3 {
    /* margin-left: ; */
    margin-right: 5em;
    font-family: sans-serif;
        font-weight: 400;
        font-size: 17px;
    width: 35em;
    line-height: 1.6;
}

.event-4 {
    background-color: white;
    padding-top: 4em;
    padding-left: 4em;
}

.event-image-4 {
    font-size: 12px;
    max-width:500 ;
    font-family: sans-serif;
}

.event-4-body {
    display:flex;
    flex-flow: row;
    justify-content: flex-start;
    padding-bottom: 10em;
}

.event-details-4 {
width: 450px;
line-height: 1.4;
/* text-transform: uppercase; */
}

.event-description-4 {
    /* margin-left: ; */
    margin-right: 5em;
    font-family: sans-serif;
        font-weight: 400;
        font-size: 17px;
    width: 35em;
    line-height: 1.6;
}

.event-5 {
    background-color: white;
    padding-top: 4em;
    padding-left: 4em;
}

.event-image-5 {
    font-size: 12px;
    max-width:500 ;
    font-family: sans-serif;
}

.event-5-body {
    display:flex;
    flex-flow: row;
    justify-content: flex-start;
    padding-bottom: 10em;
}

.event-details-5 {
width: 450px;
line-height: 1.4;
/* text-transform: uppercase; */
}

.event-description-5 {
    /* margin-left: ; */
    margin-right: 5em;
    font-family: sans-serif;
        font-weight: 400;
        font-size: 17px;
    width: 35em;
    line-height: 1.6;
}

/*  */
.event-6 {
    background-color: white;
    padding-top: 4em;
    padding-left: 4em;
}

.event-image-6 {
    font-size: 12px;
    max-width:500 ;
    font-family: sans-serif;
}

.event-6-body {
    display:flex;
    flex-flow: row;
    justify-content: flex-start;
    padding-bottom: 10em;
}

.event-details-6 {
width: 450px;
line-height: 1.4;
/* text-transform: uppercase; */
}

.event-description-6 {
    /* margin-left: ; */
    margin-right: 5em;
    font-family: sans-serif;
        font-weight: 400;
        font-size: 17px;
    width: 35em;
    line-height: 1.6;
}




.events-tk {

    background-color: white;
    padding-top: 4em;
    padding-left: 4em;

}








.subtitle {
    color: black;
    font-size: 18px;
    text-align: center;  
    justify-content: center;
    margin-bottom: 20em;
    /* letter-spacing:; */

}

.grid-container .sidenav {
    position: fixed;
}


h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 96px;
}


h2 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 18px;

}


p {
    font-size: large;
    margin-block-start: 0em;
}

.about {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
} 

.event {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 96px;
    margin-top: .5em;
}

.speaker {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 96px;
    letter-spacing: 10%;
    /* margin-top: 1em; */
    font-variant-ligatures: normal;
}

hr {
    display: block;
    height: 1px;
    stroke-width: 5px;
    border: 0;
    border-top: 1px solid black;
    padding: 0;
}

.box {
    color: black;
    font: 16px "Zilla", "Open Sans", "Helvetica", "Arial", sans-serif;
  }